.projects-container {
    width: 100%;
    height: 630px;
    border: 5px solid black;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pseudo-mobile-phone {
    border: 5px solid black;
    width: 40%;
    height: 500px;
}