
// Primary Colors
$primary-color: #1B263B;  // Navy Blue
$secondary-color: #FFFFFF;  // White

// Accent Colors
$accent-color-1: #4BA3C3;  // Sky Blue
$accent-color-2: #F0F0F0;  // Light Gray

// Text Colors
$text-color: #333333;  // Dark Gray
$secondary-text-color: #666666;  // Medium Gray
